//  Top Nav Styles

#header {
  padding:0;
  background: $white;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: auto;
  
  &:after{
    //content:' ';
    height:100%;
    width:1em;
    background:$colorBG;
    position:absolute;
    right:-1em;
    top:0;
    z-index: 9;
    @include media($small-desktop)
    {
      background:none;
    }
  }

  @include media($small-desktop) {
    background: none;
    //@include span-columns(14 of 18, block-collapse);
    position: relative;
  }
  .header-pad{
    padding: 0;
    @include media($small-desktop)
    {
      padding:0 1.125em 0 1.4375em;
    }
  }

  .disclaimer {
    position:absolute;
    right:0;
    width:100%;
    top:0;
    font-size: em(12.5);
    text-align: center;
    letter-spacing: -.05em;
    @include media($small-desktop) {
      position:relative;
      left: 0;
      right:initial;
      text-align: left;
      width:auto;
      font-size:1em;
      margin-left:0 !important;
      padding-top:1em !important;
    }
  }

  .bar-util {
    width: 100%;
    padding: 30px 20px 0 20px;
    margin-bottom: 1em;

    @include media($small-desktop) {
      padding:0;
      border-bottom: 0.0625em solid $gray;
      margin-bottom: 1.25em;
      display:inline-block;
      
      > ul > li{
        position:relative !important;
        @include transition(all 0.2s ease-in-out);
        &:hover{
          position:static !important;
          
        }


        a:hover + .desktop-span-pipe{
          display:none !important;
        }
      }
      .pipe-wrap{
        //position:relative;
      }
      .desktop-span-pipe{
        position:absolute;
        right:-.33em;
        top:1em;
        @include transition(all .22s ease-in-out);
      }
    }
    .desktop-span-pipe{
      display:none;
      @include media($small-desktop)
      {
        display:block;
      } 
    }

    p {
      @include media($small-desktop) {
        float: left;
        display: inline-block;
        color: $colorTert;
        font-family: $open-sans;
        margin-bottom: 0;
        padding-top:1.5em;
        font-size:0.7333em;
        margin-left: 20px;
      }
      // @include media($px1024) {
      //  font-size:0.775em;
      // }
      @include media($px1144) {
        font-size:0.875em;
      }
      @include media($widescreen-desktop) {
        font-size:0.925em;
      }
    }

    > ul {
      height: 50px;
      display: block;
      margin: 0;
      padding: 0;
      border-bottom: 1px solid #ccc;
      margin-top: -.25rem;

      @include media($small-desktop) {
        float: right;
        display: inline-block;
        margin-bottom: 0;
        margin-top: 0;
        padding:0;
        position:relative;
        height:auto;
        border-bottom:0px solid #ccc;
      }

      > li {
        float:left;
        position: relative;
        text-align: center;
        top: 50%;
        @include transform(translateY(-50%));

        @include media($small-desktop) {
          display: block;
          font-size: 0.938em;
          text-align: left;
          position:static;
          padding: 0;
          top:auto;
          @include transform(none);
          //@include transition(opacity .22s ease-in-out);
        }

        &:first-child {
              width: 33%;
              @include media($small-desktop)
              {
                width:auto;
              }
            }

        &:nth-child(2) {
          padding: 0 5px;
          width: 33%;
          border-left: 1px solid #ccc;
          border-right: 1px solid #ccc;
          @include media($small-desktop) {
            border-left: none;
            border-right: none;
            padding:0;
            width:auto;
          }
        }
        &:last-child{
          width: 33%;
          @include media($small-desktop)
          {
            width:auto;
          }
            }

        @include media($small-desktop)
        {
          font-size:0.7333em;
        }
        @include media($px1024)
        {
          font-size:0.775em;
        }
        @include media($px1144)
        {
          font-size:0.875em;
        }
        @include media($widescreen-desktop)
        {
          font-size:0.925em;
        }

        a{
          color: $colorDark;
          bottom: 0;
          height: 100%;
          display: block;
          vertical-align: bottom;
          font-size: em(12);
          line-height: em(22);
          font-weight: bold;
          padding: 0;
          margin: -5px 0 0 0;
          letter-spacing: -.05em;

          i{
            display: none;
            @include media($small-desktop)
            {
              display:inline-block;
            }
          }

          @include media($small-desktop)
          {
            color:$colorSena;
            font-size:1em;
            line-height:1.5em;
            font-weight:100;
            padding:1.5em;
            padding-left:0.625em;
            padding-right:0.625em;
          }
            }

        @include media($small-desktop) {
          &:hover{
            ul{
              opacity:1;
              visibility: visible;
            }
          }
          a{
            padding-left:0.625em;
            padding-right:0.625em;
            @include transition(all .22s ease-in-out);
            &:hover{
              background:$colorQuin;
              color:transparentize($colorLght,.5);
              i{
                color:transparentize($colorLght,.5);
              }
            }
          }
          &.stay-hovered {
            a{
              background:$colorQuin;
              color:transparentize($colorLght,.5);
            }
            .desktop-span-pipe{
              display:none;
            }
          }
          &:nth-child(2){
            li{
              &:nth-child(1) a:before{
                content:'What is the most important\A information I should know\A about TRIUMEQ? ';
              }
              &:nth-child(2) a:before{
                content:'What is TRIUMEQ?';
              }
              &:nth-child(3) a:before{
                content:'Who should not take TRIUMEQ?';
              }
              &:nth-child(4) a:before{
                content:'What should I tell my healthcare\A provider before taking TRIUMEQ?';
              }
              &:nth-child(5) a:before{
                content:'How should I take TRIUMEQ?';
              }
              &:nth-child(6) a:before{
                content:'What are the possible side\A effects of TRIUMEQ?';
              }
              &:nth-child(7) a:before{
                content:'How should I store TRIUMEQ?';
              }
              &:nth-child(8) a:before{
                content:'General information about\A the safe and effective use\A of TRIUMEQ';
              }
              &:nth-child(9) a:before{
                content:'What are the ingredients\A in TRIUMEQ?';
              }
            }
          }
        }
      }

      @include media($small-desktop) {
        ul{
          display:block;
          position:absolute;
          margin:0;
          padding:1em 0;
          opacity:0;
          background:$colorQuin;
          z-index:99999;
          visibility:hidden;
          box-shadow:0 3px 3px 0 transparentize($colorDark,.5);
          @include transition(opacity .22s ease-in-out);
          right: -1.125rem;

          li{
            width:50%;
            float:left;
            padding:0;
              display: table;

            span{
              display:table-row;
            }

              a{
                padding:0.5em 1em;
                color:transparentize($colorLght,.33);
                display:table-cell;
                vertical-align: middle;
                //@include transition(all .22s ease-in-out);
                @include transition(width .22s ease-in-out, height .22s ease-in-out);

                &:hover{
                  color:$colorLght;
                  &:before{
                    visibility: visible;
                    opacity:1;
                  }
                }
                &:before{
                  position: absolute;
                  width: 50%;
                  opacity:0.01;
                  text-decoration:underline;
                  visibility: hidden;
                  white-space:pre-wrap;
                  @include transition(all .22s ease-in-out);
                }
              }
              &:nth-child(odd)
              {
                clear:left;
                padding-left:1em;
              }
              &:nth-child(even)
              {
                padding-right:1em;
              }
              &:nth-child(1) a:before{
              content:"Highlights of the Full\A Prescribing Information";
            }
            &:nth-child(2) a:before{
              content:"Indications and Usage";
            }
            &:nth-child(3) a:before{
              content:"Dosage and Administration";
            }
            &:nth-child(4) a:before{
              content:"Dosage Forms and Strength";
            }
            &:nth-child(5) a:before{
              content:"Contraindications";
            }
            &:nth-child(6) a:before{
              content:"Warnings and Precautions";
            }
            &:nth-child(7) a:before{
              content:"Adverse Reactions";
            }
            &:nth-child(8) a:before{
              content:"Drug Interactions";
            }
            &:nth-child(9) a:before{
              content:"Use in Specific Populations";
            }
            &:nth-child(10) a:before{
              content:"Overdosage";
            }
            &:nth-child(11) a:before{
              content:"Description";
            }
            &:nth-child(12) a:before{
              content:"Clinical Pharmacology";
            }
            &:nth-child(13) a:before{
              content:"Nonclinical Toxicology";
            }
            &:nth-child(14) a:before{
              content:"HLA-B*5701 Clinical Studies";
              display: none;
            }
            &:nth-child(14) a:hover{
              text-decoration: underline;
            }
            &:nth-child(15) a:before{
              content:"How Supplied/Storage and Handling";
            }
            &:nth-child(16) a:before{
              content:"Patient Counseling Information";
            }
          }
        }

        i {
          color: $colorQuin;
          @include transition(all .5s ease-in-out);
        }
      }
    }

    @include media($small-desktop) {
      a {
        color: $colorQuin;
        padding:1.5em 0;
        display:block;
      }
    }
  }

  .menu-icon {

    padding: .5em;
    margin:.5em 0 1em 20px;
    width: 3em;
    

    @include media($small-desktop)
    {
      padding:0;
      width: 2.6875em;
      margin-right:2.375em;
      margin-left:0;
      margin-top:0;
      margin-bottom:0;
      top:7px;
    }
    
    &:before{
      content:'MENU';
      position:absolute;
      top:0;
      left:50%;
      @include transform(translateY(-100%) translateX(-50%));
      font-weight:bold;
      color:$colorTert;
      padding-bottom:0;
      font-size:80%;
      @include media($small-desktop)
      {
        padding-bottom:.5em;
      }
    }

    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 12;

    span {
      display: block;
      margin: 0 auto 0.4375em;
      width: 100%;
      height: 0.25em;
      background: $colorQuin;
      visibility: visibile;
      opacity: 1;
      @include transition(0.25s all ease-in-out);
    }

    span:nth-child(2) {
      max-width: 2.3125em;
    }
  }
  
  .menu-home-button{
    width: 1.8em;
    float:left;
    margin-left: -1rem;
    display:none;
  }
  .newLogo {
    display: none;
    @include media($small-desktop){
      height: auto;
      display: inline-block;
      overflow: hidden;
      img{
        width: 80%;
        height: auto;
      }
    }
  }
  .logo {

    width: 44%;
    float:right;
    left:50%;
    position:absolute;
    @include transform(translateX(-50%) translateY(-50%));
    @include media($small-desktop)
    {
      position:static;
      width:100%;
      margin-left:0;
      float:none;
      margin-right:0;
      left:auto;
      @include transform(none);
    }
    display: inline-block;
    vertical-align: top;
    max-width: 15.5em;
    opacity: 1;
    filter: alpha(opacity=100);
      @include transition(all .25s ease-in-out);
    z-index: 12;
    top:55%;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .triumeq-cta {
    float: right;
    width: 140px;
    background:none;
    box-shadow:none;
    display:none;
    vertical-align:top;
    padding-top:0;
    border:none;
    font-size:em(12);
    cursor:pointer;
    height: 5.2em;
    text-align: left;
    line-height: 1.125em;
    position:relative;
    right:1em;
    color: black;
    @include media($small-desktop)
    {
      display:inline-block;
      width:19em;
      background: url('/images/bg-triumeq-cta.png') top left no-repeat;
      @include linear-gradient(to right, $colorBG, white, $fallback: white);
      box-shadow:0px 2px 2px 0px transparentize($colorDark, .8);
      padding-top: 0.5em;
      border-width:1px;
      border-right:0px solid;
      @include border-image(linear-gradient(to bottom, $triumeq-start, $triumeq-end) 33% stretch);
      font-size: 0.85em;
      text-align: center;
      right:8.125%;
    }

    &:after{
      content:' ';
      width: 0;
      height: 0;
      border-top: 2.475em solid transparent;
      border-bottom: 2.475em solid transparent;
      border-left: 1em solid white;
      position:absolute;
      right:-.95em;
      top:0;
      display:none;
      @include media($small-desktop)
      {
        display:block;
      }
    }
    a{
      color:$colorDark;
    }

    opacity: 1;
    filter: alpha(opacity=100);
      @include transition(all .25s ease-in-out);

    strong {
      text-transform: uppercase;
    }
  }
  .ie9down{
    .triumeq-cta{
      background: url('/images/bg-triumeq-cta.png') top left no-repeat;
      border-width:0 !important;
      box-shadow:none;
      top:-7em;

      &:after{
        border:0px solid white !important;
      }
    }
  }

}

.show-nav .logo{
  @include media($small-desktop)
  {
    display: inline-block;
    position: relative;
    top: auto !important;
    width: 100%;
    height: auto;
  }
}

.tivicay.hcp #header {
  .minimal{
    background:$white;
    &:after{
      background:$white;
    }
  } 
}

.tivicay.hcp #header.minimal{
    background: $white;
}
.triumeq.hcp #header .logo, .patient-savings #header .logo, .resources #header .logo, .risks-and-side-effects #header .logo{
  top:75%;
}
.hla-screening #header .logo, .dosing-considerations #header .logo{
  top:57%;
}
#header.minimal {
  background: $white;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 9999;
  box-shadow:0 0 3px 0 transparentize($colorDark,.5);
  &:after{
    background:$light-gray;
  }
  @include media($small-desktop)
  {
    height: 8.25em;
    @include span-columns(14 of 18, block-collapse);
    width:calc(78.25% - .875rem);
    background: $light-gray;
  }

  .logo, .triumeq-cta {
    @include media($small-desktop)
    {
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }
  .triumeq-cta{
    display:none;
  }
  &:after{
    box-shadow:3px 0 3px 0px transparentize($colorDark,.5);
  }
  .logo{
    @include media($small-desktop)
    {
      display:none;
    }
  }
  &.show-nav{
    .logo{
      display:none;
      @include media($small-desktop)
      {
        display:inline-block;
      }
    }
    .navigation {
      padding-top: 20px;
      nav {
        padding-bottom: 160px;
        overflow: scroll;
      }
      @include media($small-desktop) {
        padding-top:0;
        nav {
          padding-bottom: inherit;
          overflow: inherit;
        }
      }
    }
  }
}
.minimal .menu-icon{
  float:left;
}
.minimal .menu-home-button{
  @include media($small-desktop)
  {
    display:block !important;
    z-index:12;
    position:relative;
  }
}

.navigation {

  width: 100%;
  overflow-y: scroll;
  padding-top:1em;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  background: $colorBG;

  visibility: hidden;
  opacity: 0;
  @include transform(scale(0.9));
  @include transition(.1s all ease-in-out);
  @include media($small-desktop)
  {
    @include span-columns(14.6 of 18, block-collapse);
    padding-top: 14.4rem;
  }

  .menu-column {
    margin: 0 30px 0 30px;
    @include media($small-desktop)
    {
      margin:0;
      margin-right: 2rem;
      @include span-columns(3.5 of 14, block-collapse);
    }

    &:first-child {
      @include media($small-desktop)
      {
        @include shift(2 of 14);
      }
    }
    ul{
      display:none;
      @include media($small-desktop)
      {
        display:block;
      }
    }
  }
  .menu-column:nth-child(3), .menu-column:nth-child(3) {
      ul {
        display: none;
        @include media($small-desktop)
        {
          display:block;
      
        }
      }
    }
  .menu-column:last-child{
    @include media($small-desktop){
    margin-right: 0px;
    }
  }
  .grouping {
    margin-bottom: 20px;
  }
  .grouping.clicked {
    h3 i {
      @include transform(rotate(90deg));
      @include transition(all .2s ease-in-out);
    }
    ul {
      display: block;
    }
  }

  h3 {
    position:relative;
    display:block;
    color: $colorTert;
    font-weight: 500;
    font-size: em(18);
    text-transform: uppercase;
    margin-bottom: 0;

    @include media($small-desktop)
    {
      font-size:1.3475rem;
    }

    a {
      display:block;
      color: $colorTert;
    }
    i{
      position:absolute;
      top:0;
      right:0;
    }
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    color: $colorQuin;
    font-size: 1.12375rem;
    padding: 0.79625rem 1rem 0.79625rem 0.79625rem;
    position: relative;
    @include media($small-desktop)
    {
      border-bottom: 1px dotted darken($gray, 10%);
      max-width: 90%;
    }

    a {
      color: $colorQuin;
      font-size:84%;
    }

    i {
      color: $colorQuin;
      font-size: 2rem;
      float: right;
      margin-left: 5px;
      position: absolute;
      top: 50%;
      right:0;
      @include transform(translateY(-50%));
      @include transition(0.25s all);
      @include media($small-desktop)
      {
        position:absolute;
        top:50%;
        right:0;
        @include transform(translateY(-50%));
      }
    }

    &:last-child {
      border-bottom: 1px solid $colorBG;
      padding-bottom: 1rem;
    }

    &:hover {
      i {
        @include transform(translateX(5px) translateY(-50%));
      }
    }
  }

  ul:last-child li:last-child {
    border-bottom: 0;
  }
}

section.page-section.sub-menu {
  padding: 1em 0;

  @include media($small-desktop)
  {
    padding:2em 0 1.5em;
  }
}

section.sub-menu.fixed {
  position: fixed;
  top: 4em;
  left:0;
  z-index: 11;
  margin: 0;
  width: 73em;
  padding: 0;
  height:4.25em;
  @include media($small-desktop) {
    @include span-columns(14 of 18);
  }

  h1 {
    display: none;
  }
  li{
    display:table-row;

    a{
      display:table-cell;
      vertical-align: middle;
    }
  }

  li a {
    top: 0;
    padding-bottom: 0;
    letter-spacing: -.05em;

    &:before {
      position: absolute;
      bottom: 0;
      top: auto;
    }
  }
}

#header.show-nav, #header.show-nav.minimal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: auto;
  .logo {
    display: inline-block;
    img{
      width: 100%;
      height: auto;

    }
    @include media($small-desktop)
    {
      display:none;
      position:absolute;
      top:0;
    }
    opacity: 1;
  }

  .menu-icon {
    @include media($small-desktop)
    {
      position:relative;
      top:0;
      left:0;
    }
    &:before{
      opacity:1;
    }


    cursor: pointer;
    span:first-child {
      @include transform(translateY(11px) rotate(45deg));
    }
    span:nth-child(2) {
      visibility: hidden;
      opacity: 0;
    }
    span:last-child {
      @include transform(translateY(-11px) rotate(-45deg));
    }
  }

  .menu-home-button{
    display:none !important;
  }

  .navigation {
    visibility: visible;
    opacity: 1;
    @include transform(scale(1));
  }

  section.sub-menu {
    opacity: 0;
    visibility: hidden;
  }
}
.nested-util{
  @include media($small-desktop)
  {
    width:calc(100% + 1.4em);
    left: 0;
  }
}
.lock-scroll{
  overflow-y:hidden !important;
}
