// Sass Mixins

// Font size mixin to include px and rem
// example: @include font-size(14);
@mixin font-size($size, $is-important: false) {
  $size: if(unitless($size), $size, $size / 1px);

  @if $is-important {
    font-size: $size + px !important;
    font-size: ($size / 10) + rem !important;
  } @else {
    font-size: $size + px;
    font-size: ($size / 10) + rem;
  }
}


// Clearfix
@mixin clearfix() {
  content: '';
  display: table;
}

@mixin linear-gradient($direction, $color-stops...) {
 background: nth(nth($color-stops, 1), 1);
 background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
 background: linear-gradient($direction, $color-stops);
}