// SASS Settings


// Colors
$black: #000;
$white: #fff; // white
$purple: #482467;
$gray: #cccccc;
$gradient-border: #2d5da4;
$gradient-start: #3ba8ea;
$gradient-end: #1d5089;
$home-button-hover: #d0e4f2;
$h1-menu-border: #a1a1a1;
$triumeq-start: #e5e5e5;
$triumeq-end: #9da4be;
$light-gray: #f3f3f3;

// Fonts
$open-sans: 'Open Sans', sans-serif;
$haetten: 'Haettenschweiler-regular', sans-serif;
$ag-book: 'AvantGarde-Book';
$ag-demi: 'AvantGarde-Demi';

$colorTert: #482467;
$colorQuat: #006fae;
$colorQuin: #733b97;
$colorSena: #d40f8c;
$colorSept: lighten($colorQuin,20);
$colorOcto: #b72381;
$colorNona: #542b6e;
$colorDena: #3e2051;
$mobile-menu-border: #b7b7b7;

$colorDark: #333;
$colorLght: #fdfdfd;

$colorBG: #edeaee;


$colorDot: #9E78B5

