.page-section.sub-menu {
  padding: 1em 0;
  
  @include media($small-desktop) {
    padding: 2em 0 1.5em;
  }
}

.sub-menu.fixed {
  height: 4.25em;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 4em;
  width: 73em;
  z-index: 11;

  h1 {
    display: none;
  }

  li {
    display: table-row;
    
    a {
      display: table-cell;
      letter-spacing: -.05em;
      padding-bottom: 0;
      top: 0;
      vertical-align: middle;

      &:before {
        bottom: 0;
        position: absolute;
        top: auto;
      }
    }
  }

  @include media($small-desktop) {
    @include span-columns(14 of 18);
  }
}